<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
	<!-- load the properties file -->
	<context:property-placeholder location="classpath:sport.properties"/>

	<!-- Define your beans here -->

	<!-- define the dependency -->

	<bean id="myFortune"
		class="com.rohitthebest.springdemo.RandomHappyFortunes">
	</bean>

	<bean id="myCoach"
		class="com.rohitthebest.springdemo.TrackCoach">

		<!-- setup up the constructor dependency injection -->

		<!-- By dependency injection the spring is going to make object for the 
			class(HappyFortuneService) and inject it to the the constructor of the class -->
		<constructor-arg ref="myFortune" />

	</bean>
	
	
	<bean id="myCricketCoach"
		class="com.rohitthebest.springdemo.CricketCoach">

		<!-- setup up the setter dependency injection -->
	
		<!-- This will call setFortuneService() method -->
		<property name="fortuneService" ref= "myFortune"/>
		
		<!-- This will call setEmailAddress() and set the value -->
		
		<!--<property name="emailAddress" value="test@example.com"/>
		<property name="team" value="Chennai Super Kings"/>-->
		
		<!-- setting the values using properties files -->
		<property name="emailAddress" value="${foo.email}"/>
		<property name="team" value="${foo.team}"/>
		
		
	</bean>
	


</beans>





